.home, 
.seller-profile,
.order-history{
    padding-top: 60px;
    max-width: 85vw;
    margin: 0 auto;
    overflow-x: hidden;
    user-select: none;
}
.marquee{
    margin: 35px 0;
    position: relative;
    height: 150px;
}
.marquee img{
    position: absolute;
    left: max(calc(150px * 4), 100% );
    animation: scrollLeft 20s linear infinite ;
}
.marquee img:nth-child(1){
    animation-delay: calc(20s / 4 * ( 4 - 1) * -1);
}
.marquee img:nth-child(2){
    animation-delay: calc(20s / 4 * ( 4 - 2) * -1);
}
.marquee img:nth-child(3){
    animation-delay: calc(20s / 4 * ( 4 - 3) * -1);
}
.marquee img:nth-child(4){
    animation-delay: calc(20s / 4 * ( 4 - 4) * -1);
}

@keyframes scrollLeft{
    to{
        left: -150px;
    }
}