.order-history{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.history-section{
    display: grid;
    grid-template-rows: 60px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.history-section .info{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1fr;
}
.history-section button{
    border: none;
    background-color: transparent;
    justify-self: end;
    margin-right: 20px;
}
.history-section img{
    height: 100px;
}
.order-card{
    display: grid; /*grid or none*/
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
    align-items: center;
    color: black;
}