footer{
    max-width: 85vw;
    margin: 0 auto;
}
.top{
    padding: 70px 0;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 300px);
}
.top p{
    font-weight: bold;
}
.follow, .contact{
    display: grid;
    grid-template-rows: 30px;
    grid-auto-rows: 30px;
}
.copyr{
    padding: 30px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}