nav{
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 1;
}
.shop-name{
    text-decoration: none;
    font-size: 20px;
    color: var(--txt-color);
    font-weight: bold;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.right-nav input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
}
/* popup styling */
.profile-popup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.popup-content{
    background-color: var(--secondary-color);
    width: 80%;
    padding: 40px;
    border: 1px solid black;
}