nav {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 1;
}

.shop-name {
    text-decoration: none;
    font-size: 20px;
    color: var(--txt-color);
    font-weight: bold;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.right-nav input {
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
}
.right-nav img{
    cursor: pointer;
}
.right-nav button{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--txt-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}